template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_testeventgrid-test_name": {
            "defaultValue": "testeventgrid",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_testeventgrid_name')]",
            "location": "centralindia",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_HTTP_request_is_received": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "company": {
                                            "type": "string"
                                        },
                                        "employees": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "role": {
                                                        "type": "string"
                                                    },
                                                    "languages": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "tools": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "required": [
                                                    "name",
                                                    "role"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "actions": {
                        "Parse_JSON": {
                            "runAfter": {},
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "company": {
                                            "type": "string"
                                        },
                                        "employees": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "role": {
                                                        "type": "string"
                                                    },
                                                    "languages": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "tools": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "required": [
                                                    "name",
                                                    "role"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Parse_JSON')?['employees']",
                            "actions": {
                                "Append_to_array_variable": {
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "NameList",
                                        "value": "@item()?['name']"
                                    }
                                },
                                "Append_to_array_variable-copy": {
                                    "runAfter": {
                                        "Append_to_array_variable": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "RolesList",
                                        "value": "@item()?['role']"
                                    }
                                }
                            },
                            "runAfter": {
                                "RolesList": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "NameList": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "NameList",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            }
                        },
                        "Compose-_NameList": {
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@{join(variables('NameList'), ', ')}\n"
                        },
                        "RolesList": {
                            "runAfter": {
                                "NameList": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "RolesList",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            }
                        },
                        "Compose-RoleList": {
                            "runAfter": {
                                "Compose-_NameList": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@{join(variables('RolesList'), ', ')}\n"
                        },
                        "Response": {
                            "runAfter": {
                                "Compose-RoleList": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 200,
                                "body": "\nHi Team,\n\n  We received the following employee names:\n  @{outputs('Compose-_NameList')}\n\n  We received the following Role names:\n  @{outputs('Compose-RoleList')}\n\n  Regards,\n  Logic Apps Bot\n"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {}
                    }
                }
            }
        }
    ]
}
