template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_DNSzonereport_name": {
            "defaultValue": "DNSzonereport",
            "type": "String"
        },
        "connections_office365_3_externalid": {
            "defaultValue": "/subscriptions/e62a4643-1777-489d-8615-992e6eb09eda/resourceGroups/test-rg01/providers/Microsoft.Web/connections/office365-3",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_DNSzonereport_name')]",
            "location": "centralindia",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "interval": 1,
                                "frequency": "Month"
                            },
                            "evaluatedRecurrence": {
                                "interval": 1,
                                "frequency": "Month"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "HTTP": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "uri": "https://management.azure.com/subscriptions/e62a4643-1777-489d-8615-992e6eb09eda/resourceGroups/test-rg01/providers/Microsoft.Network/dnszones?api-version=2023-07-01-preview",
                                "method": "GET",
                                "headers": {
                                    "Content-Type": "application/json"
                                },
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "Compose": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "To": "v-vmandasaty@microsoft.com",
                                    "Subject": "DNAZone Monthly report",
                                    "Body": "<p class=\"editor-paragraph\">@{outputs('Compose')}</p>",
                                    "Attachments": [
                                        {
                                            "Name": "dns-report-@{formatDateTime(utcNow(),'yyyy-MM-dd')}.csv",
                                            "ContentBytes": "@base64(body('Create_CSV_table'))"
                                        }
                                    ],
                                    "Importance": "Normal"
                                },
                                "path": "/v2/Mail"
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "HTTP": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "body": {
                                            "type": "object",
                                            "properties": {
                                                "value": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            },
                                                            "etag": {
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "type": "object",
                                                                "properties": {}
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name",
                                                            "type",
                                                            "etag",
                                                            "location",
                                                            "tags"
                                                        ]
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "Select": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Select",
                            "inputs": {
                                "from": "@body('HTTP')?['value']\r\n",
                                "select": {
                                    "Zone": "@item()?['name']",
                                    "Name Servers": "@join(item()['properties']['nameServers'], ', ')",
                                    "numberOfRecordSets": "@item()?['properties']?['numberOfRecordSets']"
                                }
                            }
                        },
                        "Compose": {
                            "runAfter": {
                                "Create_CSV_table": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "<html>\n  <head>\n    <style>\n      body {\n        font-family: Arial, sans-serif;\n        background-color: #f9f9f9;\n        padding: 20px;\n      }\n      h2 {\n        color: #2e6c80;\n      }\n      table {\n        width: 100%;\n        border-collapse: collapse;\n        margin-top: 20px;\n      }\n      th, td {\n        border: 1px solid #ccc;\n        padding: 10px;\n        text-align: left;\n      }\n      th {\n        background-color: #e0f0ff;\n        color: #333;\n      }\n      tr:nth-child(even) {\n        background-color: #f2f2f2;\n      }\n      .footer {\n        margin-top: 30px;\n        font-size: 12px;\n        color: #777;\n      }\n    </style>\n  </head>\n  <body>\n    <h2>📡 Monthly DNS Zone Report</h2>\n    <p>Here’s a summary of all DNS zones and their name servers in your subscription:</p>\n\n    @{body('Create_CSV_table')}\n\n    <div class=\"footer\">\n      This report was generated automatically by Azure Logic Apps.\n    </div>\n  </body>\n</html>\n"
                        },
                        "Create_CSV_table": {
                            "runAfter": {
                                "Select": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Table",
                            "inputs": {
                                "from": "@body('Select')",
                                "format": "CSV"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "office365": {
                                "id": "/subscriptions/e62a4643-1777-489d-8615-992e6eb09eda/providers/Microsoft.Web/locations/centralindia/managedApis/office365",
                                "connectionId": "[parameters('connections_office365_3_externalid')]",
                                "connectionName": "office365-3"
                            }
                        }
                    }
                }
            }
        }
    ]
}
